{# ARSOFTArticuloBundle:Comentario:comentario_con_type.html.twig #}
<h1>Agregar Comentario</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enviar Comentario</button>
{{ form_end(form) }}

<a href="{{ path('articulo_show', {'id': articuloId}) }}">Volver al artículo</a>
