<h1>Agregar Comentario usando type</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enviar Comentario</button>
{{ form_end(form) }}

<a href="{{ path('mostrar_articulo', {'id': articuloId}) }}">Volver al artículo</a>
