<h1>Crear Artículo usando type</h1>


{{ form_start(form, {'action': path('crear_articulo_con_type'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    <button type="submit">Crear Artículo</button>
{{ form_end(form) }}

<a href="{{ path('listar_articulos') }}">Volver a la lista de artículos</a>