{# ARSOFTArticuloBundle/Resources/views/MisVistas/crear_articulo.html.twig #}

<form action="{{ path('crear_articulo') }}" method="post">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
</form>
