<h1>Listado de Artículos</h1>
<table border="1">
<tr>
<th>ID</th>
<th>Título</th>
<th>Fecha de Creación</th>
</tr>
{% for articulo in articulos %}
<tr>
<td>{{ articulo.id }}</td>
<td><a href="{{ path('arsoft_articulos_show', {'id': articulo.id}) }}">{{ articulo.title }}</a></td>
<td>{{ articulo.created }}</td>
</tr>
{% endfor %}
</table>
