{% extends 'base.html.twig' %}

{% block body %}


  <div class="content">
    {% block content %}
    <!-- El contenido específico del artículo se irá aquí -->
    {% endblock content %}
  </div>

{% endblock %}
